@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
  font-family:'Lato', sans-serif !important;
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
}

body {
  font-family: "Lato", sans-serif !important;
}
/* App {
  font-size: 24px;
} */

/* html, body {
  font-family: 'Lato', sans-serif;
} */


/* .App {
  text-align: center;
} */

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #613d2b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #895840;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .navbarz {
  background-color: linear-gradient(45deg, rgba(132,153,116,1) 0%, rgba(170,161,118,1) 19%, rgba(254,180,123,1) 100%);;
} */
.bg {
  background: linear-gradient(45deg, rgba(121,167,87,1) 0%, rgba(170,161,118,1) 19%, rgba(255,150,70,1) 100%);
  height: 100vh;
  margin-top: 90px;
}

.bgf {
  background: linear-gradient(45deg, rgba(121,167,87,1) 0%, rgba(170,161,118,1) 19%, rgba(255,150,70,1) 100%);
}
.footer {
  height: 200px;
}
.c1 {
  padding-top: 5%;
}
.c2 {
  padding-top: 4%;
}

.text {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: justify;
  font-style: normal;
}

.ph {
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
  font-style: normal;
}

.imgz {
  width: 90%;
}

.color {
  color: white;
}

.position {
  position: absolute;
}